.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 40px 120px;
}
.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}
.nav-contact {
  background-color: white;
  padding: 10px 38px;
  color: black;
  border-radius: 50px;
}
